In [3]:
import numpy as np
import pandas as pd
import data_helper

## Cargando los Datos

### Descripcion de los Datos

**Area_Lote**: Area del lote en metros cuadrados

**Precio**: Precio total de la propiedad en Quetzales

In [4]:
data_casas = pd.read_csv('data_casas.csv')

In [7]:
data_casas.head(10)

   Area_Lote  Precio
0       6240  115000
1      11241  149000
2      10690  147000
3       9571  129000
4       7742  127000
5       8450  138500
6       8400  136500
7       6000  117000
8      13825  140000
9       8525  130000

# Modelos de Regresion Lineal

### Modelo 1  
$y = 2.41262565 x + 107748.55024667$

### Modelo 2  
$y = 1.5322 x + 10790.55$

### Modelo 3  
$y = 3.12 x + 100750$

In [12]:
data_casas = data_helper.predict_price(data_casas)

In [13]:
data_casas.head(10)

   Area_Lote  Precio     y_modelo_1  y_modelo_2  y_modelo_3
0       6240  115000  122803.334303  20351.4780   120218.80
1      11241  149000  134868.875178  28014.0102   135821.92
2      10690  147000  133539.518445  27169.7680   134102.80
3       9571  129000  130839.790343  25455.2362   130611.52
4       7742  127000  126427.098029  22652.8424   124905.04
5       8450  138500  128135.236989  23737.6400   127114.00
6       8400  136500  128014.605707  23661.0300   126958.00
7       6000  117000  122224.304147  19983.7500   119470.00
8      13825  140000  141103.099858  31973.2150   143884.00
9       8525  130000  128316.183913  23852.5550   127348.00

# Evaluando los modelos

En esta celda debes implementar una funcion para calcular el MSE

$\operatorname {MSE} ={\frac {1}{n}}\sum _{i=1}^{n}(Y_{i}-{\hat {Y_{i}}})^{2}$


###### Ayuda con el codigo de python

Para obtener en un vector todos los elementos de una columna:
```
y = data_casas['Precio'] 
```

Para elevar al cuadrado con numpy:
```
np.square( x )
```

Para hacer la sumatoria de un vector con numpy:
```
np.sum( x )
```

Obtener la longitud de un vector:
```
len(y)
```

In [20]:
y = data_casas['Precio']
y_hat1 = data_casas['y_modelo_1']
y_hat2= data_casas['y_modelo_2']
y_hat3= data_casas['y_modelo_3']

n = len(y)

mse1 = (1/n)*(np.sum(np.square(y-y_hat1)))
print ('El error para el modelo 1 es',mse1)

mse2 = (1/n)*(np.sum(np.square(y-y_hat2)))
print ('El error para el modelo 2 es',mse2)

mse3 = (1/n)*(np.sum(np.square(y-y_hat3)))
print ('El error para el modelo 3 es',mse3)

El error para el modelo 1 es 50252751.57642537
El error para el modelo 2 es 11071481396.421818
El error para el modelo 3 es 54849053.77928299

## Utilizando la funcion  MSE de Scikit Learn

##### No es necesario ejecutar esta celda es solo una referencia para evaluar tus resultados

Evalua tus resultados:

In [6]:
from sklearn.metrics import mean_squared_error

print("Mean squared error [Modelo 1]: %.2f"
      % mean_squared_error(data_casas['Precio'], data_casas['y_modelo_1']))

print("Mean squared error [Modelo 2]: %.2f"
      % mean_squared_error(data_casas['Precio'], data_casas['y_modelo_2']))

print("Mean squared error [Modelo 3]: %.2f"
      % mean_squared_error(data_casas['Precio'], data_casas['y_modelo_3']))

Mean squared error [Modelo 1]: 50252751.58
Mean squared error [Modelo 2]: 11071481396.42
Mean squared error [Modelo 3]: 54849053.78

## Concluir cual de los tres modelos es el mas adecuado

Acorde al cálculo del error mínimo cuadrático manual, el cuál se ha comparado con lo obtenido por el paquete SciKit Learn para asgurar la obtención de la estimación del error correcta. Se puede observar que el modelo más efectivo para predecir los resultados del precio de las casas acorde a su tamaño es el modelo 1 ya que su error mínimo cuadrático es menor que el de los otros 2 modelos.